@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.abc{
    display: flex;
}
.header{
    width: 100%;
    height: 141px;
    /* background-color: red; */
}
button{
    cursor: pointer;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logo {
    margin-left: 50px;
    margin-top: 62px;
}
.left{
    /* margin-left: 556px; */
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: black;
}
.center{
    color: red;
    width: 125px;
height: 32px;
font-weight: 700;
font-size: 18px;
line-height: 32px;
}
.right{
    margin-right: 120px;
}
.list li {
    width: max-content;
    height: 55px;
    align-items: center;
    display: flex;
}
.display-provider:hover{
    width: fit-content;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    color: #111727;
    transition:0.1s all ;
    border-bottom:2px solid black;
    text-align: center;

}
select{
    margin-left: 40px;
    width: 90px;
    height: 40px;
    border-radius: 5px ;
    border: 1px solid #7E7E7E ;
    padding: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #7E7E7E;
    outline: none;
}

.welcomecontent{
    color: #7E7E7E;
}
.list {
    list-style: none;
    gap: 67.5px;
    width: fit-content;
    height: 55px;
    align-items: center;
    cursor: pointer;
}

.down{
    width: 100%;
    height: 54px;
}
.down-list{
    margin-left: 169px;
}
.display{
    width: 166px !important;
    height: 54px !important;
    font-weight: 700 !important;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F7;
    border-top: 2px solid black;
    color: black !important;
}